@page "/live"
@inject IStringLocalizer<App> local


<PageContainer Title="Lives">
    <Content>
        <p>Plan or broadcast your content now !</p>
       
      
    </Content>
    <ChildContent >
        <div class="scrollable-container" id="scrollable-container">

            <div class="contentLink" style="margin: 24px 0">

            <Tooltip Title=@("Broadcast now")>
                <Button OnClick="AddRecord" Icon="play-circle" Type="primary" Ghost="true" Danger="true">
                    Live
                </Button>
            </Tooltip>

            <Tooltip Title=@("Schedule a live")>
                <Button OnClick="AddRecord" Icon="plus">
                    Schedule
                </Button>
            </Tooltip>
        </div>
        <Card Class="CARD">         
            <AntDesign.Calendar validRange="@ValidRange" DisabledDate="DisableDateFilter" />
        </Card>

    </div>
    </ChildContent>
      
</PageContainer>



<style>
	.scrollable-container{
		height: 80%;
		overflow-y: scroll;
	}	
</style>

@code{
    DateTime[] ValidRange = new[] { DateTime.Now, DateTime.Now.AddDays(90) };
    private bool DisableDateFilter(DateTime date)
    {
        return date < DateTime.Now.Date;
    }

    private void AddRecord(){

    }
}