@page "/videoslot"
@inject IStringLocalizer<App> local


<PageContainer>
    <Content>
        <h3>Video slot</h3>
        <p>Schedule or launch a record</p>

    </Content>
    <ChildContent>
        <div class="empty-container">
            <Row Align="middle" Justify="center">
                <Col>
                <Empty>
                    <DescriptionTemplate>
                        <span>@local["EmptySlotDescription"]</span>
                    </DescriptionTemplate>
                    <ChildContent>
                        <Button type="@ButtonType.Primary" OnClick="CreateNewSlot">@local["CreateNew"]</Button>
                    </ChildContent>
                </Empty>
                </Col>
            </Row>
        </div>
    </ChildContent>

</PageContainer>




<style>
    .scrollable-container {
        height: 80%;
        overflow-y: scroll;
    }

    .empty-container {
        height: calc(100vh - 140px );
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@code{ 
    
    private void CreateNewSlot()
    {      
        Console.Write(local["EndCredits"]);
    } 
    
}