@page "/"
@namespace Stardust.Flux.Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stardust.Flux.Client.ServerSide</title>
    <base href="~/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/AntDesign.Pro.Layout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link href="./css/site.css" rel="stylesheet" />
    <link href="./css/custom-ant.css" rel="stylesheet" />
    <link href="./css/app.css" rel="stylesheet" />
</head>
<body>
    <div id="blazor-error-ui" class="ant-alert ant-alert-error">
        <span role="img" class="ant-alert-icon anticon anticon-close-circle" id="ant-blazor-c5320a2a-f916-45ba-9e6f-b0d45398102d" _bl_4c385c10-a900-481d-9659-f43db9c8d684="">
            <svg focusable="false" width="1em" height="1em" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 0 1-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z" />
            </svg>
        </span>
        An unhandled error has occurred.
        <a href="" class="reload ant-alert-error ant-alert-icon" style="border:0">Reload</a>
        <a class="dismiss ant-alert-error ant-alert-icon" style="position:absolute; right:0; margin-right:8px; border:0">🗙</a>
    </div>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <script src="_content/AntDesign.Charts/g2plot.js"></script>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script src="_framework/blazor.server.js"></script>

</body>




</html>
