@inherits LayoutComponentBase
@using Syncfusion.Licensing;
@using Microsoft.Extensions.Configuration
@inject ILicenceClientApi LicenceClientApi;
@inject IConfiguration Configuration;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {


        var licence = Configuration["LicenceSyncFusion"];
        if (!string.IsNullOrEmpty(licence))
        {

            Syncfusion.Licensing.SyncfusionLicenseProvider.RegisterLicense(licence);
            return;
        }


        var licenceResponse = await LicenceClientApi.GetSyncFusionLicence();
        if (licenceResponse.IsSuccessStatusCode)
            Syncfusion.Licensing.SyncfusionLicenseProvider.RegisterLicense(licenceResponse.Content);
    }
}
