<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5" Class="mb-1">@Name</MudText>
        <MudDivider Class="mb-2"></MudDivider>
        <div class="d-block">
            <MudText Typo="Typo.body2" Class="d-inline">Hostname:</MudText>
            <MudText Typo="Typo.body2" Class="d-inline">@Hostname</MudText>
        </div>

        <div class="d-block">
            <MudText Typo="Typo.body2" Class="d-inline">Port:</MudText>
            <MudText Typo="Typo.body2" Class="d-inline">@AmcpPort</MudText>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Edit</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Delete</MudButton>
    </MudCardActions>
</MudCard>

@code {

    [Parameter]
    public string Name { get; set; }


    [Parameter]
    public string Hostname { get; set; }


    [Parameter]

    public int AmcpPort { get; set; }

}
